<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	{% include 'commonHeadElements.html' %}
	
	<link rel="stylesheet" type="text/css" href="../static/stylesheet/aboutUs.css">
</head>
<body>
{% include 'header.html' %}
<div class="container-aboutus">
<h1 class="font-a1">about us</h1>
<div class="row">
	<div class="col-md-8">
		<h2 style="color:red;font-family: jokerman;text-align: center">Let Secure Your Belongings With Us!!!</h2>
		<img src="../static/images/lock.jpg" style="width:90%;height:80%">
	</div>
	<div class="col-md-4">
		<div class="aboutus-heading">
			<h3 class="font-a1"> Antitheft</h3>
		</div>
	<div class="aboutus-content">	
    <div class="scrollbar" id="style-2">
      <div class="force-overflow">
			<p> Antitheft  is a new startup, came into existence in 2018, to provide a solution to various organisations.</p>
			<p>The idea of Antitheft was proposed at GLA University.</p>
			<p>It provides a solution to prevent thefts.</p>
			<p>Now, you can monitor your things according to your need in just few clicks.</p>
			<p>Antitheft could be a business design around a top quality service and a great quality product.</p>
			<p>This site not only works for business making but also for dream making.
 We understand your emotional attachment for your things and here we work to make it a dream come true.</p>
<p>It gives you service to prevent theft
 Antitheft  is a complete solution to  detect and prevent the theft</p>
<p>Have a nice day...</p>

			</div>
    </div>
	</div>
	</div>
</div>